body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.box {
  display: flex;
  height: 750px;
  width: 650px;
  background-color: black;
}

.left-stack {
  display: flex;
  flex-direction: column;
}

.orange {
  width: 325px;
  height: 500px;
  background-color: orange;
}

.gray {
  width: 325px;
  height: 250px;
  background-color: gray;
}

.blue {
  width: 325px;
  height: 750px;
  background-color: deepskyblue;
}

.login,
.registration {
  border-radius: 5px;
  margin: 10px;
  height: 50px;
  width: 11px;
  border: 0px;
  font-size: 30px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 150px; /* Same width for all labels */
  margin-right: 10px;
  text-align: right;
  flex-direction: column;
}
.button_container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button {
  background-color: aquamarine;
  border: 0;
  border-radius: 10px;
  height: 35px;
  width: 65px;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}
.table_container {
  display: flex;
  justify-content: center;
  filter: blur(4px);
}

.table_class {
  margin: 10px;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  filter: blur(4px);
}
td,
th {
  width: 100px;
  height: 38px;
  filter: blur(4px);
}
.blur {
  filter: blur(5px);
}
